# Frontend
frontend/node_modules/
frontend/.env
frontend/build/

# Backend
backend-spring/target/
backend-spring/.env
*.jar
*.war

# IDE
.idea/
.vscode/settings.json
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log